html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* filter project language, department dropdown */

.dropdown_button {
  color: #fff;
  font-weight: 600;
  padding: 9px 20px;
  font-size: 16px;
  border: none;
  background-color: #00155c;
  border-radius: 8px;
}

.department_dropdown {
  position: relative;
  display: inline-block;
}

.department-link {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: -webkit-fill-available;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.department-link a {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}
#userComment {
  white-space: pre-line;
}
#userCommentLink {
  white-space: pre-line;
  color: #0052cc;
}

  .department-link a:hover {background-color:  #ADD8E6;color:#000;}

.department_dropdown:hover .department-link {display: block;background-color:#ddd;color: #ADD8E6;}
/*Dashboard css start*/
.makeStyles-content-1552{margin-top: 30px!important;}
img.completed,img.on.hold,img.running {
  width: 100px;
}
.completed {
  border-radius: 5px;
  color: #fff;
  /*font-size: 30px;*/
  font-weight: 500;
  background:#554994;
  padding: 3px 15px 3px 15px;
}
.on.hold{
  border-radius: 5px;
  color: #fff;
  /*font-size: 30px;*/
  font-weight: 500;
  background: #F675A8;
}
.running{
  border-radius: 5px;
  color: #fff;
  /*font-size: 30px;*/
  font-weight: 500;
  background: #F29393;
}
h6.completed,h6.on.hold,h6.running{
  padding-left: 30px;
  padding-top: 14px;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}
h4.project_status {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}
.projects{
  margin-bottom: 10px!important;
  background:transparent!important;
  box-shadow: none!important;
}
.project-content{
  justify-content: space-between;
  display: flex!important;
}
.project-block {
  border-left: 5px solid #ADD8E6;
  background: #fff!important;
}

/* Project, task popup : overflow-y */

.popupReact-overlay{
	overflow-y: auto;
	overflow-x: hidden;
}

.required{
  color: crimson;
  padding-left: 5px;
}

.dropdown_button:hover{
  background-color: #00155c;
  color: white;
  border:none;
}
span.copyright a {
  color: #00155c!important;
}
.bttn-design:hover{
  color: white;

}
.MuiGrid-root.jss577.MuiGrid-item h4{
  color: #fff;
}
p.Updatedetails,h4.Updatedetails {
  margin: 0px;
}
.buttonpopup5{
  background-color: #ddd;
  color:black;
}
.jss3{
  margin-top: 0px!important;
}
ul.MuiList-root.makeStyles-list-22.MuiList-padding {
  display: grid!important;
}
.buttonpopup5:hover{
  background-color: #ADD8E6;
  color: #fff;
  border: 1px solid #ADD8E6 ;
}
.buttonalign{
  /* float: right; */
  justify-content: center;
  display: flex;
  margin-bottom: 50px;
} 

.logout{
  background-color: #00155c !important;
}
.MuiGrid-root.makeStyles-grid-479.MuiGrid-container{
  justify-content: center;
}
button.MuiButtonBase-root.MuiButton-root.makeStyles-button-2276.makeStyles-primary-2279.add_new_user.MuiButton-text {
  padding: 0px;
  float: right;
}
h4.text {
  margin-bottom: 0em!important;
  font-weight: 500;
}
.add_new_user {
  /* vertical-align: !important; */
  float: right!important;
  padding: 0px !important;
}
.makeStyles-primary-120:hover, .makeStyles-primary-120:focus{
  box-shadow: none;
}
.makeStyles-content-3{
  
  /*margin-top: 0px!important;*/

}
.makeStyles-cardBody-134{
  padding: 9px 9px!important;
}
/* ---sub task css---- */
.taskToDo, .taskOn_hold, .taskRunning, .taskCompleted {
  font-size: 20px;
  padding: 15px;

  font-weight: 800;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.bttn-design{
  cursor: pointer!important;
  margin-right: 30px;
  color:#fff;
  font-weight: 600;
  padding: 9px 20px;
  font-size: 16px;
  background-color: #00155c;
  border: none;
  border-radius: 8px;
}
.MuiGrid-grid-md-9{
  max-width: 100%!important;
  flex-basis: 100%!important;
}
.icon-display{
  color: #000;
  display: flex;
  cursor: pointer;
}
.icon-width{
  color: #000;
  margin-right: 20px;
  width: auto;
}
a.icon-edit-delete {
  color: #000;
}
.icon-align{
  vertical-align: top;
} 

.add_new_user{
  color: white;
  margin-bottom: 0px;
}

.icon{
  margin-left: auto;
}
.icon2{
  display: flex;
}
.project_delete_icon{
  background-color: white;
  border: none;
}
/*.text ,*/.projectTitle{
  color: black;
  font-weight: bold;
}
.popup-align
{/*
  position: relative;
  top: 120px;
  left: 50%;
  transform: translate(-50px, -50px);*/
 /* position: fixed;
    top:0 !important;
    left:100% !important;
    height:100% !important;
    transition: transform .2s ease-in-out !important;*/
    transform: translateX(70%);
}
td.project-edit-table a {
  color: #000;
}
.project-block {
  padding-bottom: 4px!important;
}
.MuiGrid-item .MuiGrid-grid-md-9 {
  margin-bottom: 0px!important;
}
.copyright{
  display: flex;
}
.copyright a:hover{
  color: darkblue;
  font-weight: 900;
}
td.project-edit-table {
display: flex;
  transform: translate(50%,60%);
  float: left;
}
.save-btn{
  box-shadow: 0 2px 2px 0 rgb(0 21 92 / 14%), 0 3px 1px -2px rgb(0 21 92 / 20%), 0 1px 5px 0 rgb(0 21 92 / 12%);
  background-color: #00155c;
}
.save-btn span.MuiButton-label {
 
  color: #fff!important;
}
/* .icon-edit-delete{
  display: flex;
  align-items: center;
  margin-left: auto;
} */
.makeStyles-grid-340{
  width: 100%!important;
  margin: 0px 0px !important;
}
.chip{
  /* width: 20%!important; */
  border: 2px solid;
  display: inherit;
  border-radius: 30px!important;
  padding: 10px!important;
  font-weight: 500!important;
  background: #00155c!important;
  color: #fff!important;;
}
.multiSelectContainer li:hover{
  font-weight: 500!important;
  background: #eee5ff!important;
  color: #000!important;

}
.highlightOption{
  font-weight: 500!important;
  background: #eee5ff!important;
  color: #000!important;
}
span.MuiButton-label{
  color: #000!important;
  font-weight: 500!important;

}
a.makeStyles-item-15 {
  padding-top: 8px;
  padding-bottom: 8px;
}
img.image {
  float: right;
  width: 40px;
}
.person
{
  background: #eee5ff!important;
    border-radius: 30px!important;
    padding: 10px!important;
    font-weight: 500!important;
}
@media (min-width:320px) {
  .buttonalign .MuiGrid-item {
  margin-bottom: 20px!important;
}
.buttonalign{
  margin-bottom: 20px!important;
}
.popup-align{
  padding: 40px 10px !important;
}
}
.usertitle{
  font-size: 20px;
  color: #000;
  font-weight: 500;
}
p.usersubtitle{
  color: #000;
  font-weight: 500;
}
/*Sub Task*/
.MuiGrid-grid-xs-6 {
  flex-grow: 0;
  max-width: 100% !important;
  flex-basis: 100% !important;
}

.user-icon
{
  border: none;
  /* background-color: white ; */
}

.High
{
  min-width: 30%!important;
  float: right;
  background-color: red;
  border-radius: 5px;
  padding: 5px 20px 5px 20px;
  margin-right: 5px;
  margin-left: 5px;
  color: #000;
  font-weight: 500;
  text-align: center;
}
.Medium
{
  min-width: 30%!important;
  text-align: center;
  float: right;
  background-color: yellow;
  border-radius: 5px;
  padding: 5px 20px 5px 20px;
  margin-right: 5px;
  margin-left: 5px;
  color: #000;
  font-weight: 500;
}
.Low
{
  min-width: 30%!important;
  float: right;
  background-color: green;
  border-radius: 5px;
  padding: 5px 20px 5px 20px;
  margin-right: 5px;
  margin-left: 5px;
  color: #000;
  font-weight: 500;
  text-align: center;
}
.Task_todo{
  display: none;
}
/* table,tr,th,td
*/
table.project-data {
  width: 100%;
}
table.project-data th{
  width: 20%!important;
  background-color: #fff;
  text-align: left;
  padding-left: 15px;
    padding-right: 15px;
    color: #00155c;
    border: 1px solid #D3D3D3;
    font-size: 18px;
    font-weight: 600;
  border: 1px solid #D3D3D3;
  padding-bottom: 8px;
  padding-top: 8px;
}
th.title {
  border-left: none!important;
}
th.view-edit {
  border-right: none!important;
}
td.status-data p {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
th.status {
  text-align: center;
}
td.assignee-data p {
  /* background: rebeccapurple; */
  padding-left: 10px;
  padding-right: 10px;
}
td {
  padding-top: 5px;
}
h4.projectTitle{
  padding-left: 15px;
  font-size: 20px;
  font-weight: 400;
  padding-right: 15px;
}
h3.on-track {
  cursor: pointer;
  background: #0096FF;
  padding: 40px;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
h3.off-track{
  cursor: pointer;
  background: #FF0000;
  padding: 40px;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
h3.completed-project{
  cursor: pointer;
  background: #34BE82;
  padding: 40px;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
h3.on-hold{
  cursor: pointer;
  background:#FFD800;
  padding: 40px;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.project-status{
  justify-content: center;
  display: flex;
}
.Projects-title {
  padding-top: 20px;
  color: #00155c;
  font-size: 30px;
  font-weight: 600;
}
.tracking-projects {
  border-bottom: 3px solid #00155c;
  width: 8%;
  padding-top: 10px;
}
h3.not-data {
  color: #00155c;
   margin: 0px;
  font-size: 20px;
  font-weight: 400;
}
table.project-data {
  margin-top: 10px;

}
td.priority-data p {
  float: left;
}
.project-status .MuiGrid-grid-sm-6{
  margin-right: 30px;
  max-width: 100%;
  flex-basis: 100%;
}

h3.my-task-priorities {
  width: 50%;
  border: 2px solid #d3d3d3;
  padding: 20px;
  font-size: 20px;
  border-radius: 10px;
}
div.Task-list {
  padding-top: 10px;
}
h2.title-my-task {
  width: 50%;
  border-bottom: 2px solid #00155c; 
  font-size: 30px;
  font-weight: 600;
}
p.task-high,p.task-medium,p.task-low{
  font-size: 20px;
    font-weight: 400;
}
h1.user-welcome {
  padding-bottom: 3px;
  font-size: 40px;
  text-align: center;
  font-family: sans-serif;
}
.user
{
  display: flex;
}
.user-editbtn
{
  font-weight: bold;
}
.my-task .MuiGrid-root.makeStyles-grid-430.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-sm-6.MuiGrid-grid-md-6 {
  padding-top: 40px!important;
}
img.gif-image {
  height: 50px;
}
.my-task .MuiGrid-grid-md-6 {
  float: left;
    margin-left: 3%;
    position: inherit;
    margin-top: 3%;
    max-width: 100%;
    flex-basis: 100%;
}
svg {
  float: right;
}
h2.title-user-project {
  padding-bottom: 50px;
  font-weight: 500;
}
td.status-data {
  text-align: center;
}
.makeStyles-cardHeader-380.makeStyles-primaryCardHeader-388 {
  display: flex;
}
.Lang {
  display: flex;
}
p.Task-lang {
  font-weight: 600;
}
/**icon css**/
img.dashboard-image {
  padding-right: 10px;}

/**icon css**/
.dropdown-effect{display: flex;}
/** Table project layout start**/
td.project-title-table,td.project-priority-table {
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 600;
  font-size: 14px;
}
td.project-priority-person {
  padding-left: 15px;
}
.form-group
{
  margin-top: 5px;
}
.form-group span{
  color:#00155c;
  font-weight: 600;
}
/** Table project layout end **/

/** Profile page css start **/
.profile-page{
  width: 50%!important;
}
.profile-page .makeStyles-typo-527{
  margin-bottom: 10px;
}

h5.profile-data {
  font-size: 15px;
}
.profile-label {
  font-size: 17px;
  font-weight: 600;
  padding-bottom: 4px;
}
img.user-image{height: 30px;}
.Project-title {
  padding-bottom: 25px;
  font-size: 40px;
  font-weight: 500;
}
/** Profile page css end **/
/** Project sidebar css start **/
.Project-sidebar{
  padding-bottom:0px!important;
}
.Project-sidebar-comments{
padding-top: 0px!important;
}
h5.project-comments{
  margin: 0px !important;
  font-size: 15px;
  color:#00155c;
  font-weight: 600;
}
span.comment-box {
  box-shadow: rgb(0 21 92 / 62%) 0px 3px 8px;
  border-radius: 20px;
  border: 2px solid #000;
  display: flex;
  padding: 10px;
  margin-top: 10px;
}
p.save-btn{
  text-align: center;
  margin-top: 20px;
  width: 15%;
  cursor: pointer!important;
  margin-right: 30px;
  color:#fff;
  font-weight: 600;
  padding: 9px 20px;
  font-size: 16px;
  background-color: #00155c;
  border: none;
  border-radius: 8px;


}
/** Project sidebar css end **/
/** Project module css start **/
.task_title {
  font-weight: 600;
  font-size: 20px;
  padding: 20px;
}
/** Project module css end 8*/
@media only screen and (max-width: 1440px) and (min-width: 1366px){ 
  .my-task .MuiGrid-grid-md-6{margin-left: 0%!important;} 
  h3.on-track,h3.off-track,h3.completed-project,h3.on-hold{padding:20px!important;}
  .popup-align {
    transform: translateX(47%);
}
 }
 @media only screen and (max-width: 1365px) and (min-width: 1280px){  
  .popup-align {
    transform: translateX(36%);
}
 .my-task .MuiGrid-grid-md-6{margin-left: 0%!important;} 
 h3.on-track,h3.off-track,h3.completed-project,h3.on-hold{padding:10px!important;} }

 @media only screen and (max-width: 1560px) and (min-width: 1441px){ 
  .popup-align {
    transform: translateX(54%);
}
  .my-task .MuiGrid-grid-md-6{margin-left: 0%!important;} 
  h3.on-track,h3.off-track,h3.completed-project,h3.on-hold{padding:10px!important;} }
 
/* Mobile css*/

@media only screen and (max-width: 767px) {
  .popup-align {
    transform: translateX(0%);
}
  .project-status{
    justify-content: normal;
    display: grid!important;
}
/*Profile page css start*/
.profile-page.mobile{width: 100%!important;}
/*Profile page css end*/
/* ccs added by pradeep */
/* expand and collapse btn css */
.bttn-design{
  margin-left: 15px;
  margin-top: 30px;
}
/* end css added by pradeep */
}
@media only screen and (max-width: 1279px) and (min-width: 1024px){
  .project-status{
    justify-content: normal;
    display: grid!important;
}
.popup-align {
  transform: translateX(20%);
}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){ 
  .project-status{
    justify-content: normal;
    display: grid!important;
}
.popup-align {
  transform: translateX(0%);
}
 }
 @media only screen and (max-width: 1365px) and (min-width: 1280px){
  .projectTitle{
    font-size: 17px!important;
  }

}
@media only screen and (max-width: 1279px) and (min-width: 1024px){
  .projectTitle{
    font-size: 17px!important;
  }
  .MuiGrid-grid-md-4{
    max-width: 55.333333%!important;
    flex-basis:50%!important
    }
 }
 @media only screen and (max-width: 1080px) and (min-width: 960px) {
  .MuiGrid-grid-md-4{
    max-width: 55.333333%!important;
    flex-basis:50% !important;
    }
}
@media only screen and (min-width: 960px) {
  h4.projectTitle{
font-size: 17px!important;
  }}

.res
{
  display: flex;
  justify-content: center;
}