.login-section{ background-color: #00155c;justify-content: center;
    padding: 15%;}
.login-container {display: flex; justify-content: center;}
.login-div {padding: 60px 60px;width: 500px;background: #FFFFFF;box-shadow: 0px 0px 124px rgb(132 132 132 / 17%);border-radius: 5px;margin: 0 auto; }
.login-head{justify-content: center;align-items: center;}
.login-title{font-weight: 700;font-size: 22px;line-height: 40px;color: #000000;font-weight: bold;text-align: center;}
.login-text a{text-decoration: none!important;}
.login-text-login{color: #000;  font-size: 14px;  font-weight: 500;}
.login-logo-mobile { display: none;}
label.check { margin-left: 12px;}
span.icon-eyes svg { font-size: 24px;}
.icon-eyes{
    float: right;
    margin-top: -50px;
    margin-right: 10px;
}
.login-logo ,  .login-col {
    width: 50%;
}
.login-two a {
    text-decoration: none;
}
.error-msg{
    color: red!important;
}
.login-text{
    display: flex;
    justify-content: center;
}
.login-text p {
    margin-top: 30px;
    font-weight: 500;
    text-align: center;
}
.login-section h3 {
    font-style: normal;
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 21px !important;
    display: flex;
    align-items: center;
    color: #4C4D4D;
    margin-bottom: 32px !important;
}
.login-section h2.signup-title {
    color: #000;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}
.login-section .form-control {
    padding: 12px 50px 12px 12px !important;
    margin-bottom: 12px;
}
button.login-create-acc-btn {
    background : #00155c;
    border: none;
    padding: 12px;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
}
button.login-create-acc-btn:active{
    border: 2px solid;
    transform: translateY(4px);
}
.login-section input[type="checkbox"] {
    width: 17px;
    height: 17px;
    vertical-align: sub;
}
.form-label , label .check {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
}
.login-two {
    width: 50% !important;
    text-align: right;
    /* margin-top: 4px; */
}

.login-line {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}
.login-option {
    text-align: center;
}
.login-fb {
    margin-left: 25px;
}
.login {
    border-radius: 5px;
    background: #fff;
    border: 1px solid #4C4D4D;
    padding: 12px 22px;
}
.signup-text-login{
    color: #000;
    padding-left: 5px;
}
.signup-text-login:hover{

    color:#00155c;
}
.adduser-dropdown{
    margin-top: -30px!important;
}
.PhoneInputCountry{
    display: none!important;
}
.PhoneInputInput{
    border: none!important;
}
@media only screen and (max-width: 767px) {
.login-div {
    padding: 20px;}
    .login-head {
    padding-bottom: 30px;
    }
     .login-col {
        width: 100%;
    }
    .login-two {
        width: 100% !important;
        /* text-align: left; */
    }
    .login-text {
        width: 100%;
    }
    
    .login-text p {
        float: initial;
        margin-top: 30px;
        text-align: center;
    }
    .login-div {
        width: auto;
        box-shadow: none !important;
    }
    .login-container {
        display: unset;
    }
    .login-section{
        background-color: #ADD8E6;
    }
    .login-logo {
        display: none;
    }
    .login-section h3 {
        font-size: 16px !important;
    }
    .login-logo-mobile {
        display: block;
    }
    .login-logo-mobile img {
        width: 80px !important;
        height: 80px !important;
        background-color: #efefef;
        padding: 10px !important;
        border-radius: 10px;
    }
    button.login.login-fb img , button.login.login-google img {
        width: 25px;
    }
    .login {
        padding: 12px 12px;
    }

}
/*Switch css start*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
.slider.round {
    border-radius: 34px;
  } 
.slider.round:before {
    border-radius: 50%;
}
/* .makeStyles-typo-165{
    margin-bottom: 15px!important;
} */
.MuiButton-label a{
    color: #000;
}

/*userdetail css start*/
.userdetail_searchbar{
    display: flex!important;
    justify-content: space-between!important;
}

.projectPriority{
    text-align: center;
    color: #000!important;
    font-weight: 400!important;
    font-size: 16px;
}

.rights_btn{
    min-width: 40px!important;
}

@media only screen and (max-width: 2000px) and (min-width: 1366px) {
    .login-section {
      padding: 10%;
    }
  }

  @media only screen and (max-width: 1365px) and (min-width: 1280px){ 
    .login-section {
        padding: 3%;
      }

   }
   @media only screen and (max-width: 1440px) and (min-width: 1366px){    .login-section {
    padding: 3%;
  } }

  .react-datepicker__year-dropdown .react-datepicker__year-option:first-child::before {
    content: "\25B2";
    position: absolute;
    top: 2%;
    left: 45%;
    margin: auto;
  }
  
  /* .react-datepicker__year-dropdown .react-datepicker__year-option:last-child::after {
    content: "\25BC";
    display: block;
    position: absolute;
    bottom: 2%;
    left: 45%;
  } */